@{
    ViewBag.Title = "Table";
}

<div class="content">
</div>

<div class="chatbar">
    <ul id="chat"></ul>
    <input type="text" id="chatInput" />
    <input type="button" id="chatSend" value="Send" />
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>var tableID = @ViewBag.TableID;</script>
    <script src="~/Scripts/Table.js"></script>
}