@{
    ViewBag.Title = "Table";
}

<div id="tableContent">
    <ul class="modeSelector">
        <li target="tabVideo">Video</li>
        <li target="tabWhiteboard">Whiteboard</li>
    </ul>

    <div class="modeTab" id="tabVideo">
        video
    </div>
    <div class="modeTab" id="tabWhiteboard">
        whiteboard
    </div>
</div>

<div class="chatbar">
    <ul id="chat"></ul>
    <input type="text" id="chatInput" />
    <input type="button" id="chatSend" value="Send" />
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>var tableID = @ViewBag.TableID;</script>
    <script src="~/bundles/table"></script>
}